/** @format */
/* html */
:root {
  --color-primary-dark: #2e2f42;
  --color-primary-light: #ffffff;
  --color-secondary-light: #e7e9fc;
  --font-family-primary: 'Roboto';
  --font-family-secondary: 'Raleway';
  --color-primary-hover: linear-gradient(to right, #9b77e7 23%, #1600a0 100%);
}

body {
  width: 1440px;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: var(--font-family-primary);
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 72px;
}

.logo-and-brand {
  display: block;
  margin-left: 156px;
  font-family: var(--font-family-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.header-container .logo-text.web {
  width: 44px;
  color: #4d5ae5;
}

.header-container .logo-text.studio {
  width: 71px;
  margin-left: -3px;
  color: #2e2f42;
}

.header-container > a :hover {
  background-color: var(--color-secondary-light);
}

.header-container > a :active {
  background-color: #9581c5;
}

.header-menu :hover {
  background-color: var(--color-primary-hover);
}

.header-menu :focus {
  color: var(--color-primary-dark);
}

.header-menu :active {
  background-color: #9581c5;
  color: var(--color-secondary-light);
}

.header-menu {
  display: flex;
  align-items: center;
  width: 261px;
  height: 24px;
  gap: 40px;
  list-style-type: none;
}

.header-link {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}

.contacts-block {
  display: flex;
  align-items: center;
  padding-left: 333px;
  line-height: 24px;
  gap: 40px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}

main {
  display: block;
}

.hero-section {
  display: block;
  padding-top: 188px;
}

.hero-discription {
  display: block;
  width: 1440px;
  height: 600px;
  background-color: var(--color-primary-dark);
}

.hero-title {
  width: 496px;
  height: 120px;
  margin-left: 472px;
  margin-top: 0px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  align-content: center;
  color: var(--color-primary-light);
}

.hero-button {
  display: block;
}

.button {
  width: 169px;
  height: 56px;
  margin-left: 636px;
  margin-top: 48px;
  border-radius: 4px;
  background-color: #4d5ae5;
}

.button:hover {
  background-color: #9581c5;
  transition: background-color 2s, color 2s;
}

.button:active {
  background-image: var(--color-primary-hover);
}

.button:hover .button-text {
  color: var(--color-secondary-light);
  transition: background-color 2s, color 2s;
}

.button:active .button-text {
  color: var(--color-primary-dark);
}

.button-text {
  /* display: block; */
  /* width: 105px;
  height: 24px;
  margin-left: 668px;
  margin-top: -44px;
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; */
  color: var(--color-primary-light);
}

.out-discription {
  display: block;
  width: 1128px;
  height: 104px;
  margin-left: 156px;
  margin-top: 120px;
}

.discription {
  display: flex;
  gap: 24px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 4px;
  color: var(--color-primary-dark);
}

.stategy-discription,
.punctuality-discription,
.diligence-discription,
.technologies-discription {
  width: 264px;
  height: 104px;
}

.stategy-discription h3,
.punctuality-discription h3,
.diligence-discription h3,
.technologies-discription h3 {
  font-weight: 500;
  font-size: 20px;
}

.our-team {
  display: block;
  width: 1440px;
  height: 732px;
  margin-top: 120px;
  background-color: #f4f4fd;
}

.banner-team {
  display: block;
  width: 162px;
  height: 40px;
  margin-left: 639px;
  padding-top: 120px;
}

.banner-team h2 {
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  align-content: center;
  color: var(--color-primary-dark);
}

.cards-team {
  display: flex;
  margin-left: 156px;
  padding-top: 112px;
  gap: 24px;
}

.card-one,
.card-two,
.card-tree,
.card-four {
  width: 264px;
  height: 380px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--color-primary-light);
}

.card-one-content,
.card-two-content,
.card-tree-content,
.card-four-content {
  display: flex;
  width: 232px;
  height: 56px;
  padding-left: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-one-content h3,
.card-two-content h3,
.card-tree-content h3,
.card-four-content h3 {
  font-size: 20px;
  font-weight: 500;
  align-content: center;
}

.card-one-content p,
.card-two-content p,
.card-tree-content p,
.card-four-content p {
  margin-top: -5px;
}

.traling-icons {
  display: flex;
  width: 232px;
  height: 40px;
  padding-left: 16px;
  padding-top: 25px;
  gap: 24px;
  list-style-type: none;
}

.traling-icons {
  display: flex;
  width: 232px;
  height: 40px;
  padding-left: 16px;
  padding-top: 25px;
  gap: 24px;
  list-style-type: none;
}

.elipse {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.instagram,
.twitter,
.linkedin,
.facebook {
  display: block;
  width: 16px;
  height: 16px;
}

.group {
  display: block;
  width: 16px;
  height: 13px;
  margin-top: 1.5px;
}

.banner-portfolio {
  display: block;
  width: 218px;
  height: 40px;
  /* margin-left: 639px;
  padding-top: 120px; */
}

.text-discription {
  display: block;
  width: 264px;
  height: 72px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #f4f4fd;
}

.our-portfolio {
  display: block;
  padding-left: 156px;
  padding-top: 120px;
  border: 1px;
  width: 40px;
  border-color: var(--color-secondary-light);
}

.banner-portfolio {
  /* width: 218px;
  height: 40px;
  padding-left: 455px;
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  align-content: center;
  color: var(--color-primary-dark); */
}

.banner-portfolio h2 {
  width: 218px;
  height: 40px;
  margin-left: 455px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  align-content: center;
  color: var(--color-primary-dark);
}

.images-row-one {
  display: flex;
  padding-top: 72px;
  gap: 24px;
}

.images-row-two {
  display: flex;
  padding-top: 48px;
  gap: 24px;
}

.images img {
  width: 100%;
  height: auto;
}

footer {
  width: 1440px;
  height: 312px;
  background-color: var(--color-primary-dark);
}

.footer-item {
  display: block;
  width: 264px;
  height: 112px;
  margin-left: 156px;
  margin-top: 100px;
  padding-top: 100px;
}

/* .footer-item {
  display: contents;
  width: 115px;
  height: 24px;
  font-family: var(--font-family-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
} */

.footer-item .logo-and-brand {
  display: contents;
  width: 115px;
  height: 24px;
  font-family: var(--font-family-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.footer-item .logo-and-brand.web {
  margin-top: 70px;
  width: 44px;
  color: #4d5ae5;
}

.footer-item .logo-and-brand.studio {
  width: 71px;
  margin-left: -3px;
  color: var(--color-secondary-light);
}
